APP_NAME=product_management
APP_ENV=local
APP_DEBUG=true
APP_LOCALE=es

LOG_LEVEL=debug

#DATABASE
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
FORWARD_DB_PORT=33061
DB_DATABASE=db_name
DB_USERNAME=db_user
DB_PASSWORD=password
ROOT_DB_PASSWORD=password

## PHP
PHP_VERSION=8.1

# WEBSERVER
WEBSERVER_PORT=8895
WWW_DATA_DIR=./

##  MYSQL
MYSQL_DATA_DIR=./mysql_data

## User
UID=1001
GID=1001

## PRECIO_USD
PRECIO_USD = 1410

